<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robotics_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
          <xacro:if value="$(arg is_sim)">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>

          <xacro:unless value="$(arg is_sim)">
            <hardware>
                <plugin>robotics_arm_control/RoboticsArm</plugin>
                <param name="port">/dev/ttyUSB0</param>
                <param name="baudrate">115200</param>
            </hardware>
          </xacro:unless>

            <joint name="joint_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_1']}</param>
                </state_interface>
            </joint>
            <joint name="joint_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_2']}</param>
                </state_interface>
            </joint>
            <joint name="joint_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_3']}</param>
                </state_interface>
            </joint>
            <joint name="joint_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['joint_4']}</param>
                </state_interface>
            </joint>
            <joint name="gripper_base_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_base_joint']}</param>
                </state_interface>
            </joint>
            <joint name="gripper_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_joint']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
